:root {
    --themeColor: rgb(7, 22, 166);
    --headerTitle: rgb(255, 255, 26);
    --whitesmoke: whitesmoke;
    --headerText: whitesmoke;
    --white: white;
    --bodyTextColor: rgb(23,23,23);
    --submitButtonColor: var(--themeColor);
    --footerColor: rgb(57,57,57);
    --grey: grey;
  }
  holder
/* common classes */
.container{
margin: 4%;
background-color: aquamarine;
}

.center-item{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Start Header section */
.header-section{
    background-image: url("./images/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4%;
}

.header-title{
    color: var(--headerTitle);
    font-size: 50px;
    font-weight: bold;
} 

.header-text{
    color: var(--headerText);
    font-size: 30px;
    font-weight: bold;
    overflow: hidden;
}

.row{
    padding: 2vh 0;
}

.col-6{
    float: left;
}

/* For desktop: */
.col-6 {
    width: 50%;
}

.header-right{
    justify-content: flex-end;
    display: flex;
}
  
  
@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    .col-6{
        width: 100%;
        justify-content: center;
        display: flex;
        padding-bottom: 5px;
    }

    .header-text{
        color: var(--headerText);
        font-size: medium;
        font-weight: bold;
        overflow: hidden;
      }
    .row{
        padding: 10px 0;
    }
   
    .header-title{
        color: var(--headerTitle);
        font-size: x-large;
        font-weight: bold;
    } 

    .header-section{
        padding: 6% ;
        height: 70px;
    }
}
/* End Header section */



/* Start question section */
.question-section{
   background-color: azure;
}

.question-container{
    padding: 4%;
}


.question-item-box{
    padding: 10px 6%;
}

.question-text{
    color: var(--bodyTextColor);
    font-size: 22px;
}

.question-text:hover{
    font-size: 25px;
}

.ans-options form{
    display: flex;
    justify-content: space-between;
    margin: 10px 5%;
    margin-right: 10%;
}

.checkbox-item:hover{
    font-size: 20px;
}

.checkbox-btn input:hover{
    font-size: 16px;
}

.btn-submit{
    background-color: var(--submitButtonColor);
    color: var(--white);
    border: 0;
    border-radius: 6px;
    padding: 10px 25px;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */

.question-text{
    color: var(--bodyTextColor);
    font-size: 16px;
}

.question-text:hover{
    font-size: 20px;
}
}


@media only screen and (max-width: 900px) {
    /* For mobile phones & tabs: */
    .ans-options form{
        display: inline;
    }  

    .checkbox-item{
        margin: 5px 10%;
    }

    .checkbox-btn{
        margin: 5px 10%;
    }


    .btn-submit{
        background-color: var(--submitButtonColor);
        color: var(--white);
        border: 0;
        border-radius: 6px;
        padding: 10px 25px;
        font-weight: bold;
    }
}


/* Start Footer section */
.footer-section{
    background-color: var(--footerColor);
    padding: 2%;
}

.footer-body{
    color: var(--whitesmoke);
}

.footer-body span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 10px;
}

@media only screen and (max-width:800px){
    .footer-body span{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
    }
}

.h-line-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizontal-line{
    width: 70%;
    height: 1px;
    background-color: var(--grey);
   
}

